.contacts{
  &__body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__row{
    display: flex;
    justify-content: center;  
    align-items: flex-start;
    width: 100%;
    @include media($lg){
      flex-direction: column;
      align-items: center;
    }
  }
  &__gradient{
    @include gradient(150px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 38px 0;
    &:first-child{
      margin-right: 100px;
      @include media($lg){
        margin-right: 0;
      }
    }
    &-top{
      display: flex;  
      flex-direction: column;
      justify-content: center;
    }
    &-title{
      @extend .text-with-inner-shadow;
      font-size: 64px;
      z-index: 6;
      @include media($sm){
        font-size: 42px;
      }
    }
    &-p{
      font-size: 16px;
      line-height: 170%;
      text-align: center;
      color: #FFFFFF;
      font-weight: 700;
      z-index: 6;
    }
    &-img{
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 6;
      @include media($sm){
        width: 63px;
      }
    }
  }
  &__middle{
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(1200){
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    &-img{
      z-index: -3;
      @include media($md){
        max-width: 100%;
      }
    }
    &-right{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &-title{
      font-size: 30px;
      line-height: 168.9%;
      text-align: right;
      color: #FFFFFF;
      margin-bottom: 20px;
      @include media($md){
        text-align: center;
        width: 100%;
      }
    }
    &-p{
      font-size: 16px;  
      line-height: 170%;
      text-align: right;
      color: #FFFFFF;
      margin-bottom: 24px;
      @include media($md){
        text-align: center;
        width: 100%;
      }
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    @include media($md){
      width: 100%;
    }
    &-row{
      display: flex;
      @include media($md){
        flex-direction: column;
        width: 100%;
      }
    }
  }
  &__input{
    padding-left: 70px;
    @include media($md){
      width: 100%;
    }
    &.pl-sm{
      padding-left: 60px !important;
    }
    &-parent{
      position: relative;
      &.ml20{
        margin-left: 20px;
        @include media($md){
          margin-left: 0;
          margin-top: 20px;
        }
      }
      &.mt20{
        margin-top: 20px;
      }
      &::before{
        content: attr(data-value);
        position: absolute;
        top: 19px;
        left: 10px;
        transform: translateY(-50%);
        font-size: 14px;
        color: #FFFFFF;
        line-height: 1;
      }
    }
  }
  &__textarea{
    margin-bottom: 50px;
    width: 100%;
    padding-left: 10px;
    padding-top: 30px;
  }
  &__btn{
    @extend .btn-with-gradient;
    max-width: 289px;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto 100px auto;
  }
}