.profile{
  &__content{
    padding-bottom: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  &__title{
    @include media($md){
      font-size: 24px;  
    }
  }
  &__id{
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  &__p{
    font-size: 14px;
    line-height: 170%;
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  &__btns{
    flex-direction: column;
    align-items: center;
  }
  &__btn{
    margin-right: 0 !important;
    max-width: 400px;
    width: 100%;
    &:first-of-type{
      margin-bottom: 20px;
    }
  }
  &__inputs{
    flex-direction: column;
  }
  &__input{
    &:first-of-type{
      @include media($md){
        margin-bottom: 50px;
      }
    }
    &:not(:last-child){
      margin-bottom: 50px;
    }
    &::before{
      top: -30px;
      left: 0;
    }
  }
}

form.profile__content{
  margin-top: 50px;
}