$gradient: linear-gradient(275.37deg, #476172 0%, #3094C4 100%);
@mixin gradient($size){
  width: $size;
  height: $size;
  background: #558DA8;
  filter: blur(108px);
  border-radius: 50%;
}
.text-with-inner-shadow{
  background-color: #fff;
  color: transparent;
  text-shadow: 0px 1px 2px #0B1317;
  background-clip: text;
}
.btn-with-gradient{
  background: linear-gradient(275.37deg, #476172 0%, #3094C4 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
  &:active{
    outline: none;
  }
}
img{
  pointer-events: none;
}
html{
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
body{
  font-family: 'Benzin';
  background: #000;
  min-height: 100vh;
  color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}
button{
  border: none;
  background: none;
  font-family: 'Benzin';
  color: #fff;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #fff;
}
input:not([type="range"]){
  background: #000;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.55);
  border: none;
  color: #fff;
  font-family: inherit;
  padding: 10px 8px;
  &:focus{
    box-shadow: inset 0px 0px 10px #558DA8;
  }
}
textarea{
  background: #000;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.55);
  border: none;
  color: #fff;
  font-family: inherit;
  padding: 10px 8px;
  resize: none;
  &:focus{
    box-shadow: inset 0px 0px 10px #558DA8;
  }
}
ul{
  list-style: none;
}
.dropdown__button{
  font-size: 16px;
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-start;
  @include media($md){
    justify-content: center;
  }
  .icon-arrow-down{
    font-size: 8px;
    margin-left: 8px;
    padding-bottom: 6px;
  }
  &_1{
    margin: 15px 0;
    @include media($lg){
      width: max-content;
      margin: 15px auto;
    }
  }
}
.dropdown__content{
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: 200ms ease;
  &.absolute{
    position: absolute;
  }
  &_2{
    margin-left: 36px;
    margin-bottom: 50px;
  }
}
.dropdown2__item{
  margin: 5px 0 !important;
}
.dropdown__item{
  &:not(:last-child){
    margin-bottom: 10px;
  }
  &.current{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 50px;
      height: 16px;
      background: #3094C4;
      z-index: -1;
    }
  }
}
.current-link{
  position: relative;
  padding-left: 35px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 50px;
    height: 16px;
    background: #3094C4;
    z-index: -1;
  }
}
.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px auto 150px;
  &::before{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &::after{
    content: url(../images/play.webp);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
  }
  &__img{
    max-width: 100%;
    width: 100%;
  }
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
  padding-left: 15px;
  padding-right: 15px;
  &:target{
    opacity: 1;
    visibility: visible;
  }
  &__body{
    max-width: 800px;
  }
  &__video{
    max-width: 100%;
  }
  &__close{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.icon-arrow-down{
  transition: 200ms ease;
}
.current-link .icon-arrow-down{
  transform: rotate(180deg);
  padding-bottom: 0;
  padding-top: 6px;
}

.mydropdown{
  max-width: 100%;
  width: 100%;
  &__button{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    text-align: left;
    color: #FFFFFF;
    @include media($md){
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      width: max-content;
    }
    &:not(:last-child){
      margin-bottom: 20px;
    }
    svg{
      margin-left: 20px;
      min-width: 19px;
      min-height: 15px;
    }
    &.show{
      & svg{
        transform: rotate(180deg);
      }
      & ~ .mydropdown__content{
        display: flex;
      }
    }
  }
  &__p{
    font-size: 14px;
    font-weight: 300;
  }
  &__content{
    display: none;
    margin-bottom: 30px;
  }
}

.modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 60;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
  &:target{
    opacity: 1;
    visibility: visible;
  }
  &__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 50px;
    text-align: center;
  }
  &__btn{
    width: 289px;
    padding: 15px 0;
    border: 2px solid;
    border-image-source: linear-gradient(275.37deg, #476172 0%, #3094C4 100%);
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.error{
  &__title{
    color: #FF0000;
  }
  &__gradient{
    width: 200px;
    height: 200px;
    background: #FF0000;
    filter: blur(108px);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }
}
.success{
  &__title{
    color: #00A51A;
  }
  &__gradient{
    width: 200px;
    height: 200px;
    background: #00A51A;
    filter: blur(108px);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }
}
.incheck{
  &__title{
    color: #BEAB00;
  }
  &__gradient{
    width: 200px;
    height: 200px;
    background: #BEAB00;
    filter: blur(108px);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }
}
#drop1, #drop3{
  transform: translateY(-100%) scale(0);
  display: none;
}
.progress-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  height: 37px;
  border-radius: 15px;
  margin-top: 120px;
  background: linear-gradient(0deg, #DEE1E2 21.67%, #D2D2D2 97.63%);
  &__track{
    background: linear-gradient(90deg, #0081EA 0%, #7FFFE0 100%);
    height: 100%;
    border-radius: 15px;
    position: relative;
  }
  &__tool{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: linear-gradient(90deg, #0081EA -0.01%, #7FFFE0 99.99%);
    position: absolute;
    top: -104px;
    right: -30px;
    &::before{
      content: '';
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #0081EA; 
    }
    &::after{
      content: attr(data-value) "%";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      line-height: 168.9%;
      color: #181818; 
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid rgba(#fff, 0.4);
    } 
  }
}