.verification{
  width: 100%;
  &__body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @include media(1200){
      flex-direction: column;
    }
  }
  &__left{
    margin-right: 80px;
    width: 60%;
    @include media(1200){
      width: 100%;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__right{
    width: 40%;
    @include media(1200){
      display: none;
    }
  }
  &__title{
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 168.9%;
    text-align: left;
    color: #FFFFFF;
    font-weight: 600;
  }
  &__subtitle{
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    margin-bottom: 15px;
    font-weight: 500;
    @include media(1200){
      font-size: 14px;
      line-height: 170%;
      text-align: center;
      max-width: 600px;
      margin: 0 auto 15px auto;
    }
  }
  &__p{
    font-size: 14px;
    line-height: 170%;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 30px;
    @include media(1200){
      font-size: 12px;
      line-height: 170%;
      text-align: center;
    }
  }
  &__list{
    list-style: none;
  }
  &__li{
    font-size: 18px;
    line-height: 200%;
    color: #FFFFFF;
    @include media(1200){
      font-size: 14px;
      line-height: 200%;
    }
    a{
      color: #3094C3;
    }
  }
  &__btn{
    width: 100%;
    background: linear-gradient(275.37deg, #476172 0%, #3094C4 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    margin-top: 30px;
    max-width: 495px;
  }
  &__gif{
    max-width: 100%;
    &_show-on-mobile{
      display: none;
      @include media(1200){
        display: block;
        margin-top: 30px;
      }
    }
  }
  &__popup{
    &-title{
      font-weight: 600;
      font-size: 28px;
      line-height: 33px;
      color: #FFFFFF;
      margin-bottom: 50px;
      @include media($sm){
        text-align: center;
      }
    }
    &-btns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media($sm){
        flex-direction: column;
        align-items: center;
      }
    }
    &-gradient{
      background: #FFFFFF;
      width: 200px;
      height: 200px;
      position: absolute;
      filter: blur(200px);
      z-index: -1;
    }
    &-btn{
      width: 220px;
      height: 40px;
      border: 2px solid;
      border-image-source: linear-gradient(275.37deg, #476172 0%, #3094C4 100%);      
      border-image-slice: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 168.9%;
      color: #FFFFFF;
      padding-bottom: 2px;
      &:first-child{
        margin-right: 28px; 
        @include media($sm){
          margin-right: 0;
          margin-bottom: 28px;
        }
      }
      &.current{
        background: linear-gradient(275.37deg, #476172 0%, #3094C4 100%);
      }
    }
  }
}