mixin advantages()
  .advantages 
    .advantages__body.container   
      h2.advantages__title Почему стоит работать
      h3.advantages__subtitle Наши преимущества
      .advantages__items 
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 01
            img(src="images/wallet.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Прибыль
            p.advantages__item-p Программа позволяет стабильно. Зарабатывать от 0,5% в сутки в полупассивном режиме, периодически контролируя торги.
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 02
            img(src="images/security.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Безопасность  
            p.advantages__item-p Мы не храним никакие данные у себя на сервере. Ваш секретный ключ API хранится только у вас в системе и используется только в софте бота.
      .advantages__items 
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 03
            img(src="images/chart.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Аналитика
            p.advantages__item-p Софт анализирует абсолютно весь рынок на одной из самых популярных бирж Binance и позволяет торговать используя сигналы индикаторов
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 04
            img(src="images/coins.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Доступность
            p.advantages__item-p Бесплатная версия софта позволяет торговать любыми стратегиями с минимальным ограничением, а полная версия имеет очень лояльные цены
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 05
            img(src="images/aim.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Конфигурации
            p.advantages__item-p Большое количество опций в настройках программ позволяет максимально гибко конфигурировать стратегию под свой стиль торгов
      .advantages__items 
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 06
            img(src="images/idea.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Технологии
            p.advantages__item-p Для разработки софта используются самые современные технологии, что открывает неограниченное количество возможностей для построения любого интерфейса
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 07
            img(src="images/like.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Интерфейс
            p.advantages__item-p Максимально дружелюбный и простой в освоении интерфейс позволит легко разобраться и начать зарабатывать, как новичку, так и продвинутому пользователю
        .advantages__item
          .advantages__item-gradient
          .advantages__item-top
            p.advantages__item-title 08
            img(src="images/shield.svg", alt="wallet").advantages__item-img
          .advantages__item-bottom
            p.advantages__item-subtitle Стабильность
            p.advantages__item-p Тщательное тестирование программы и внимательность к мелочам в построении алгоритмов позволяет добиться максимальной стабильности софта
      a(href="#!").advantages__btn Кнопка 