mixin contacts()
  .contacts
    .contacts__body.container 
      h2.contacts__title Контакты
      .contacts__row 
        .contacts__item 
          .contacts__gradient
          .contacts__item-top 
            h3.contacts__item-title E-MAIL
            img(src="images/email.svg", alt="email").contacts__item-img
          p.contacts__item-p support@tranding-x.com
        .contacts__item 
          .contacts__gradient
          .contacts__item-top 
            h3.contacts__item-title TELEGRAM
            img(src="images/paper-plane.svg", alt="email").contacts__item-img
          p.contacts__item-p @tranding-x
      .contacts__middle#answers
        .contacts__middle-left
          h2.contacts__middle-title Вопросы и ответы
          .mydropdown
            button(onclick="mydropdown(this)").mydropdown__button Легальный ли заработок ?
              svg(width='17' height='12' viewbox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M8.5 12L0.272759 0.749998L16.7272 0.75L8.5 12Z' fill='white')

            .mydropdown__content 
              p.mydropdown__p Да, заработок полность легальный
          .mydropdown
            button(onclick="mydropdown(this)").mydropdown__button Есть ли у Вас возростные ограничение?
              svg(width='17' height='12' viewbox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M8.5 12L0.272759 0.749998L16.7272 0.75L8.5 12Z' fill='white')

            .mydropdown__content 
              p.mydropdown__p Да, для регистрации на Binance.com Вам должно быть 18-лет, но если вы хотите начать зарабатывать и Вам нет 18-ти можете пополнить внутриний баланс бота и получать свой заработк прямо сейчас и выводить удобным сбособом
          .mydropdown
            button(onclick="mydropdown(this)").mydropdown__button Как я могу убедиться что Ваш бот реально торгует?
              svg(width='17' height='12' viewbox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M8.5 12L0.272759 0.749998L16.7272 0.75L8.5 12Z' fill='white')

            .mydropdown__content 
              p.mydropdown__p Вы можете открыть свой демо-счет и наблюдать за количеством сделок внутри
          .mydropdown
            button(onclick="mydropdown(this)").mydropdown__button Почему у Вас такие высокие проценты?
              svg(width='17' height='12' viewbox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M8.5 12L0.272759 0.749998L16.7272 0.75L8.5 12Z' fill='white')

            .mydropdown__content 
              p.mydropdown__p Да, таких высоких процентов вы не найдете нигде, все потому что мы используем высокомаржинальные валютные пары что дает возможнсть заработать 10, 20 а то и 30 процентов за одну сделку
          .mydropdown
            button(onclick="mydropdown(this)").mydropdown__button Какая минимальная сумма для входа?
              svg(width='17' height='12' viewbox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M8.5 12L0.272759 0.749998L16.7272 0.75L8.5 12Z' fill='white')

            .mydropdown__content 
              p.mydropdown__p Минмальная сумма сделки на бинанс 10$, для максимально активного заработка на вашем балансе должно быть не менее 30$
        .contacts__middle-right
          img(src="images/loupe.webp", alt="loupe").contacts__middle-img
          .contacts__middle-gradient  
      .contacts__bottom#contacts 
        .contacts__bottom-left 
          img(src="images/form.svg", alt="robot").contacts__bottom-img
        .contacts__bottom-right
          h2.contacts__bottom-title Остались вопросы?
          p.contacts__bottom-p В течении 30 минут наш менеджер ответит на все ваши вопросы
          form(action="").contacts__form
            .contacts__form-row 
              .contacts__input-parent(data-value="Имя: ")
                input(type="text").contacts__input.pl-sm
              .contacts__input-parent(data-value="E-mail: ").ml20
                input(type="email").contacts__input.pl-70
            .contacts__input-parent(data-value="Ваш вопрос: ").mt20
              textarea(name="", cols="30", rows="10").contacts__textarea
            button(type="submit").contacts__btn Отправить