mixin footer()
  .footer   
    nav.footer__body.container
      a(href="index.html").header__logo.footer__logo   
        img(src="images/logo.webp", alt="logo").header__logo-img.footer__logo-img
        p.header__logo-p.footer__logo-p Trading future.io
      ul.footer__list 
        li.footer__li
          a(href="index.html").current-link.footer__link Главная 
        li.footer__li
          a(href="#work").footer__link Как работаем 
        li.footer__li
          a(href="#start").footer__link Как начать работу 
        li.footer__li
          a(href="#advantages").footer__link Почему стоит работать 
        li.footer__li
          a(href="#reviews").footer__link Отзывы 
        li.footer__li
          a(href="#answers").footer__link Вопрос-ответ
        li.footer__li
          a(href="#contacts").footer__link Контакты
      .footer__btns.intro__btns
        a(href="#!").footer__btn.intro__btn Кнопка 
        a(href="#!").footer__btn.intro__btn Регистрация/авторизация
        .footer__gradient 
      button.header__lang.footer__lang
        img(src="images/eng.webp", alt="eng").header__lang-img
        p.header__lang-p ENG
