mixin footer()
  .footer   
    nav.footer__body.container
      a(href="index.html").footer__logo   
        img(src="images/logo.webp", alt="logo").footer__logo-img
        p.footer__logo-p Trading future.io
      ul.footer__list 
        li.footer__li
          a(href="index.html").footer__link Главная 
        li.footer__li
          a(href="index.html").footer__link Как работаем 
        li.footer__li
          a(href="index.html").footer__link Как начать работу 
        li.footer__li
          a(href="index.html").footer__link Почему стоит работать 
        li.footer__li
          a(href="index.html").footer__link Отчет  
        li.footer__li
          a(href="index.html").footer__link Отзывы 
        li.footer__li
          a(href="index.html").footer__link Вопрос-ответ
        li.footer__li
          a(href="index.html").footer__link Контакты
      .footer__btns 
        a(href="#!").footer__btn.current Кнопка 
        a(href="#!").footer__btn Регистрация/авторизация
        .footer__gradient 
      .footer__lang 
        img(src="images/eng.webp", alt="eng").footer__lang-img
        p.footer__lang-p ENG
