mixin footer()
  .footer   
    nav.footer__body.container
      a(href="index.html").header__logo.footer__logo   
        img(src="images/logo.webp", alt="logo").header__logo-img.footer__logo-img
        p.header__logo-p.footer__logo-p Trading future.io
      ul.footer__list 
        li.footer__li
          a(href="index.html").current-link.footer__link Главная 
        li.footer__li
          a(href="index.html#work").footer__link Как работаем 
        li.footer__li
          a(href="index.html#start").footer__link Как начать работу 
        li.footer__li
          a(href="index.html#advantages").footer__link Почему стоит работать 
        li.footer__li
          a(href="index.html#reviews").footer__link Отзывы 
        li.footer__li
          a(href="index.html#answers").footer__link Вопрос-ответ
        li.footer__li
          a(href="index.html#contacts").footer__link Контакты
      .footer__btns.intro__btns
        a(href="#!").footer__btn.intro__btn Кнопка 
        a(href="register.html").footer__btn.intro__btn Регистрация/авторизация
        .footer__gradient 
      .header__lang-drop
        button(type="button" onclick="toggleActive(this)").header__lang.header__lang_main
          img(src="images/eng.webp", alt="eng").header__lang-img 
          p.header__lang-p eng 
        .header__lang-content
          button(type="button").header__lang-item 
            img(src="images/rus.webp", alt="eng").header__lang-img 
            p.header__lang-p.header__lang-p_2 rus 
          button(type="button").header__lang-item 
            img(src="images/ua.webp", alt="eng").header__lang-img 
            p.header__lang-p.header__lang-p_2 ua 
          button(type="button").header__lang-item 
            img(src="images/fr.webp", alt="eng").header__lang-img 
            p.header__lang-p.header__lang-p_2 fr 
