mixin header()
  header.header#header
    nav.header__nav.container
      a(href="index.html").header__logo
        img(src="images/logo.webp", alt="Trading Future").header__logo-img
        p.header__logo-p Trading future.io
      .header__content 
        button(type="button").header__lang.header__lang_main
          img(src="images/eng.webp", alt="eng").header__lang-img 
          p.header__lang-p eng
        .header__button 
          span.header__button-line
    .header__menu
      .header__menu-body 
        ul.header__list   
          li.header__li   
            a(href="#!").header__link.current-link Главная 
          li.header__li   
            a(href="#work").header__link Как работаем 
          li.header__li   
            a(href="#start").header__link Как начать работу 
          li.header__li   
            a(href="#advantages").header__link Почему стоит работать 
          li.header__li   
            a(href="#reviews").header__link Отзывы 
          li.header__li   
            a(href="#answers").header__link Вопрос-ответ 
          li.header__li   
            a(href="#contacts").header__link Контакты 
        button(type="button").header__lang.header__lang_secondary
          img(src="images/eng.webp", alt="eng").header__lang-img 
          p.header__lang-p eng
        .header__gradient
        .header__lines
          .header__line.header__line_1
          .header__line.header__line_2

mixin header2()
  header.header#header
    nav.header__nav.container
      a(href="index.html").header__logo
        img(src="images/logo.webp", alt="Trading Future").header__logo-img
        p.header__logo-p Trading future.io
      .header__content 
        button(type="button").header__lang.header__lang_main
          img(src="images/eng.webp", alt="eng").header__lang-img 
          p.header__lang-p eng
        .header__button 
          span.header__button-line
    .header__menu
      .header__menu-body.header__menu-body_2
        h3.header__title Меню личного кабинета
        ul.header__list 
          li.header__li 
            a(href="index.html").header__link.current-link Главная
          li.header__li 
            a(href="dates.html").header__link Личные данные
          li.header__li 
            a(href="getrefs.html").header__link Реферальная система
          li.header__li 
            a(href="#!" onclick="dropdown2(drop1, this)").dropdown__button.dropdown__button_1.header__link Бот <span class="icon-arrow-down"><span>   
            .dropdown__content.dropdown__content_1#drop1
              a(href="bots.html").dropdown__item.header__link Список ботов 
              a(href="new-bot.html").dropdown__item.header__link Добавить бота
          li.header__li 
            a(href="#!" onclick="dropdown2(drop3, this)").dropdown__button.dropdown__button_1.header__link Демо-счет <span class="icon-arrow-down"><span>   
            .dropdown__content.dropdown__content_1#drop3
              a(href="bots.html").dropdown__item.header__link Демо-баланс
              a(href="bots.html").dropdown__item.header__link Демо-счет
        a(href="orders.html").header__link.header3__link Список ордеров
        button(type="button").header__lang.header__lang_secondary
          img(src="images/eng.webp", alt="eng").header__lang-img 
          p.header__lang-p eng
        .header__gradient
        .header__lines
          .header__line.header__line_1
          .header__line.header__line_2

mixin header3()
  .header3 
    .header3__body
      .header3__left 
        a(href="index.html").header__link.header3__link.current-link Главная
        a(href="dates.html").header__link.header3__link Личные данные
        a(href="getrefs.html").header__link.header3__link Реферальная система
        .drop
          a(href="#!" onclick="dropdown2(drop4, this)").dropdown__button.dropdown__button_2.header__link.header3__link Демо-счет <span class="icon-arrow-down"><span>   
          .dropdown__content.absolute.dropdown__content_2#drop4
            a(href="demo-balance.html").dropdown2__item.header__link.header3__link Демо-баланс
            a(href="demo.html").dropdown__item.header__link Демо-счет
        .drop
          a(href="#!" onclick="dropdown2(drop2, this)").dropdown__button.dropdown__button_2.header__link.header3__link Бот <span class="icon-arrow-down"><span>   
          .dropdown__content.absolute.dropdown__content_2#drop2
            a(href="bots.html").dropdown2__item.header__link.header3__link Список ботов 
            a(href="new-bot.html").dropdown2__item.header__link.header3__link Добавить бота
        a(href="orders.html").header__link.header3__link Список ордеров
        
      