mixin intro()
  .intro 
    .intro__body.container
      .intro__left
        .intro__gradient
        .intro__lines
          .intro__line.intro__line_1
          .intro__line.intro__line_2
        .intro__left-content
          h1.intro__title Tradingfuture.io
          p.intro__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit consectetur nisl sed consectetur urna.
          .intro__btns 
            a(href="#!").intro__btn Кнопка 
            a(href="#!").intro__btn Регистрация/авторизация
      .intro__right
        img(src="images/intro.svg", alt="robot").intro__right-img