mixin reviews()
  .reviews 
    .reviews__body.container 
      h2.reviews__title Отзывы  
      .reviews__row 
        .reviews__item 
          h3.reviews__item-title Isteit
          p.reviews__item-p Добавлю и я свой отзыв. Пользуюсь неделю. Опыт работы с другими ботами около года. Плюсы:
          p.reviews__item-p — оперативная техподдержка;
          p.reviews__item-p — быстрая скорость работы бота, особенно скорость выставления сетки ордеров;
          p.reviews__item-p — возможность работы в режиме шорт с несколькими парами;
          p.reviews__item-p — возможность одновременной работы шорт/лонг;
          p.reviews__item-p — наличие широкого перечня настроек.
        .reviews__item 
          h3.reviews__item-title VasilyFedorov88
          p.reviews__item-p Пользуюсь данным ботом несколько месяцев, можно подвести некий итог: Профита на
          p.reviews__item-p летнем рынке немного, использовал в основном для теста функционала. Осенью жду объёмы на альтах
          p.reviews__item-p и оживление рынка. И так, плюсы.
          p.reviews__item-p — техподдержка;
          p.reviews__item-p — все хотелки админ поддерживает и реализовывает, это очень приятно;
          p.reviews__item-p — бот относительно молодой, но работает
          p.reviews__item-p без лагов/ошибок, сохраняя ваш депозит
          p.reviews__item-p от неоправданного риска;
          p.reviews__item-p — понятность и прозрачность настроек бота, легко разобраться даже новичку
        .reviews__item 
          h3.reviews__item-title Wraith
          p.reviews__item-p Хотел бы оставить отзыв о данном боте, пользуюсь им около месяца косяков замечено не было, поддержка быстрая и адекватная (телеграмм), в текущей версии есть абсолютно всё, что необходимо для торговли.
          p.reviews__item-p Плюсы:
          p.reviews__item-p — Легко освоить интерфейс и функции бота;
          p.reviews__item-p — Поддержка работает быстро и чётко;
          p.reviews__item-p — Обратная связь с пользователями в плане ввода нового функционала;
          p.reviews__item-p — Есть ещё время испытать бесплатную версию.
