mixin start()
  .start
    .start__body.container
      h2.start__title Как начать работу
      .start__row 
        .start__item 
          .start__gradient
          img(src="images/notebook.svg", alt="notebook").start__item-img
          h3.start__item-p Создать аккаунт на Binance.com
        .start__item 
          .start__gradient
          img(src="images/smartphone.svg", alt="notebook").start__item-img
          h3.start__item-p Создать аккаунт в нашей системе
        .start__item 
          .start__gradient
          img(src="images/rocket.svg", alt="notebook").start__item-img
          h3.start__item-p Подключение и активация бота