mixin work()
  .work#work 
    .work__body.container 
      .work__left
        img(src="gifs/gif.gif", alt="gif").work__gif
      .work__right
        .work__gradient
        h2.work__title Как работаем
        h3.work__subtitle Наш искуственный интелект работает по стратегии скальпинга и усреднение
        p.work__p Скальпинг (от англ. scalping — снимать скальп, срезать верхнюю часть), пипсовка — сленговое название одной из стратегий внутридневных спекулятивных операций на фондовом, валютном, товарном рынках, особенностью которой является закрытие сделки при достижении небольшой прибыли в несколько пунктов («пипсов»).
        .work__items
          .work__item
            p.work__item-title 01
            p.work__item-p Lorem ipsum dolor
          .work__item
            p.work__item-title 02
            p.work__item-p Lorem ipsum dolor
        .work__items
          .work__item
            p.work__item-title 03
            p.work__item-p Lorem ipsum dolor
          .work__item
            p.work__item-title 04
            p.work__item-p Lorem ipsum dolor
