doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Демо баланс | Искусственный интеллект
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header2
    .startp.update
      .startp__body.update__body.container 
        .intro__lines
          .intro__line.intro__line_1
          .intro__line.intro__line_2
        .startp__gradient
        include components/header.pug 
        +header3
        h2.update__title.profile__title Демо-счет
        p.profile__tacp.center Активация обучения
        p.profile__desc.center Наша компания с радостью предоставляет вам  возможность получить <span class="blue">бесплатно</span>
        p.profile__balance 100$
        p.profile__desc.center.mb-45 Вы можете наглядно ознакомиться с работой нашего бота
        .bot__btns  
          a(href="refs.html").bot__btn.tac.current Ознакомлен
          a(href="refs.html").bot__btn.tac Правила
    script(src="scripts/index.js")