doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Edit password | Искусственный интеллект
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header2
    .startp.update
      .startp__body.update__body.container 
        .intro__lines
          .intro__line.intro__line_1
          .intro__line.intro__line_2
        .startp__gradient
        include components/header.pug 
        +header3
        h2.update__title.profile__title Изменить личную информацию
        p.profile__id ID:  000088
        form(action="").profile__content 
          .auth__inputs
            .auth__input-parent(data-value="Имя:").profile__input.mr-0.mb-0.md-mb-50
              input(type="text" required).auth__input.pl-10
            .auth__input-parent(data-value="Фамилия:").profile__input.md-mb-35
              input(type="text" required).auth__input.pl-10
          .auth__inputs
            .auth__input-parent(data-value="E-mail:").profile__input.mb-0.md-mb-50
              input(type="email" required).auth__input.pl-10
            .auth__input-parent(data-value="Телефон:").profile__input.md-mb-50
              input(type="text" required).auth__input.pl-10
          .auth__btns.profile__btns
            button(type="submit").auth__btn.profile__btn.current Изменить личную информацию
            a(href="dates.html").auth__btn.profile__btn Вернуться к личным данным
    script(src="scripts/index.js")