doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Edit password | Искусственный интеллект
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header2
    .startp.update
      .startp__body.update__body.container 
        .intro__lines
          .intro__line.intro__line_1
          .intro__line.intro__line_2
        .startp__gradient
        include components/header.pug 
        +header3
        h2.update__title.profile__title Реферальная ссылка
        p.profile__tacp Lorem ipsum dolor sit amet
        p.profile__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Platea fusce aliquet sit dignissim quis lacus. Luctus at rutrum at lectus. Mattis ut vivamus massa, faucibus. Tellus mi sit ullamcorper erat. Amet odio senectus mauris, nulla non. Consequat, lectus nullam nibh consequat dolor sed pulvinar sapien. Sit nunc, pellentesque volutpat in libero duis sed. Nunc pellentesque est mattis sodales malesuada nisl nunc. Volutpat commodo, enim arcu ornare morbi fermentum non aliquam nec.
        a(href="refs.html").bot__btn.tac.current.mb-50 Получить ссылку 
    script(src="scripts/index.js")