doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Trading Future | Искусственный интеллект
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header
    include components/intro.pug 
    +intro
    include components/work.pug 
    +work
    include components/start.pug 
    +start
    include components/advantages.pug 
    +advantages
    include components/reviews.pug 
    +reviews
    include components/contacts.pug 
    +contacts
    include components/footer.pug 
    +footer
    script(src="scripts/index.js")