doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Реферальная система | Искусственный интеллект
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header2
    .startp.update
      .startp__body.update__body.container 
        .intro__lines
          .intro__line.intro__line_1
          .intro__line.intro__line_2
        .startp__gradient
        include components/header.pug 
        +header3
        h2.update__title.profile__title Реферальная ссылка
        .refs__row 
          input(type="text" value="https://название сайта/домен/register/?refid=11111").refs__input#copyInput
          button(onclick="copyLink()").bot__btn.current.refs__btn Скопировать
        h3.refs__title Ваши рефер
        .refs__items 
          .refs__item.small #
          .refs__item Имя
          .refs__item Фамилия
          .refs__item Почта
    script(src="scripts/index.js")