doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Personal dates | Искусственный интеллект
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header2
    .startp.update.bot
      .startp__body.update__body.container.bot__body
        .intro__lines
          .intro__line.intro__line_1
          .intro__line.intro__line_2
        .startp__gradient
        include components/header.pug 
        +header3
        .bot__row
          .bot__left 
            h2.bot__title Настройка бота
            .auth__input-parent(data-value="Сумма сделки: ").bot__input2-parent
              input(type="text").auth__input.pl-152.bot__input2
            p.range__p Бюджет:
            .bot__range
              input(type="range" min="999" max="10000" value="999").bot__range-item#range
              #demo.range__value
            p.range__p Количество сделок:
            .bot__range
              input(type="range" min="1" max="3" value="1").bot__range-item#range2
              #demo2.range__value
          .bot__right
            h2.bot__title Аналитика
            p.bot__row-p Средний % / день
            p.bot__row-price 20%
            p.bot__row-p Средняя сумма / день
            p.bot__row-price 70$
            p.bot__row-p Скорость
            p.bot__row-red Медленная
            p.bot__row-yellow Обычная
            p.bot__row-green Максимальная
        a(href="#incheck").bot__btn.tac Применить

    .modal#error 
      h2.modal__title.error__title Ошибка!
      .error__gradient
      a(href="#main").modal__btn Закрыть  
    .modal#success 
      h2.modal__title.success__title Успешно
      .success__gradient
      a(href="#main").modal__btn Закрыть  
    .modal#incheck 
      h2.modal__title.incheck__title Отправлено на модерацию
      .incheck__gradient
      a(href="#main").modal__btn Закрыть  

    script(src="scripts/index.js")