doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Personal dates | Искусственный интеллект
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header2
    .startp.update.bot
      .startp__body.update__body.container.bot__body
        .intro__lines
          .intro__line.intro__line_1
          .intro__line.intro__line_2
        .startp__gradient
        include components/header.pug 
        +header3
        .bot__row
          .bot__left 
            h2.bot__title Настройка бота
            .auth__input-parent(data-value="Сумма сделки: ")
              input(type="text").auth__input.pl-152
            input(type="range" step="3")
          .bot__right
            h2.bot__title Аналитика
            p.bot__row-p Средний % / день
            p.bot__row-price 20%
            p.bot__row-p Средняя сумма / день
            p.bot__row-price 70$
            p.bot__row-p Скорость
            p.bot__row-red Медленная
            p.bot__row-yellow Обычная
            p.bot__row-green Максимальная
        a(href="#!").bot__btn.tac Применить
    script(src="scripts/index.js")